.card-note{
  border: 1px solid black;
  width: 300px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-note-title{
  margin: 0;
}

.card-note-content{
  margin: 0;
}
